.collection{
    gap:1rem;
display: flex;
width: 80vw;
height: 100%;
flex:1;
}
.canvas-wrapper{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
flex:1;

}
canvas{
    display: block;
    width:min-content;
    height: min-content;
}
#noise-container{
    gap:1rem;
    width:80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1;
}