@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: rgb(45, 45, 45);
    font-family: "Source Sans 3", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    min-height: 100vh;
    width:fit-content;
    background-color: white;
}
.collection {
    background-color: rgb(233, 231, 231);
    border-radius:1rem;
    gap: 1rem;
    display: flex;
    width: 80vw;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:1rem;
    padding:1rem;

}
.break{
    flex-basis: 100%;
}
.inputs{
    gap:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    width: 80%;
}

h2 {
    width: 80%;
}

p {
    width: 80%;
    margin:0.3rem;
}

.canvas-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;
}

.canvas-wrapper p {
    width: auto;
    font-size: large;
}

canvas {
    display: block;
    width: min-content;
    height: min-content;
    border-radius: 1rem;
}

#noise-container {
    margin-top: 1rem;
    margin-bottom:1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}
button{
    user-select: none;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.2rem;
    background-color: rgb(252, 251, 251);
    border-radius: 5px;
    border-width:  0;
    padding: 1rem;
    cursor: pointer;
}
input{
    text-align: center;
    padding:0.6rem;
    font-size: large;
    border-radius: 5px;
    border-width: 0;
}
input[type=number] {
  appearance: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}
.sample-input{
    gap:1rem;
    display:flex;
    flex-direction: row;
    font-size: larger;
}
.sample-input p{
    margin:0
}